.small-circle {
	--scale-1: 1.05;
	--scale-2: 0.8;
	--translate-x-1: 30px;
	--translate-y-1: 30px;
	--translate-x-2: -30px;
	--translate-y-2: 15px;
	--border-radius-1: 40% 60% 70% 30% / 40% 50% 50% 60%;
	--border-radius-2: 70% 30% 50% 50% / 30% 30% 70% 70%;
	--duration: 13s;
}

.large-circle {
	--scale-1: 1.15;
	--scale-2: 0.75;
	--translate-x-1: 35px;
	--translate-y-1: -20px;
	--translate-x-2: -30px;
	--translate-y-2: 30px;
	--border-radius-1: 60% 40% 30% 70% / 60% 30% 70% 40%;
	--border-radius-2: 40% 60% 70% 30% / 60% 40% 60% 40%;
	--duration: 18s;
}
