---
import { Button } from '@/components/ui/button'
import { cn } from '@/lib/utils'
import { StartProjectModal } from './start-project-modal'
---

<div class="text-center md:text-left">
  <div class={cn(
    "text-xs tracking-wider text-gray-700 max-w-md mt-3",
    "md:text-sm md:mt-4"
  )}>
    Crafting exceptional web experiences that drive business growth and digital success 
  </div>
  <h1 class={cn(
    "text-2xl font-light leading-tight max-w-3xl mt-8",
    "sm:text-5xl sm:mt-8",
    "md:text-7xl md:mt-12"
  )}>
    DIGITAL INNOVATION<br />
    & EXCELLENCE
  </h1>
</div>
<div>
  <div class={cn("mt-8 flex flex-col gap-4 max-w-xl", "sm:mt-14", "md:mt-20")}>
    <StartProjectModal client:load />
    <Button variant="outline" className={cn(
      "py-5 group transition-all duration-300 cursor-pointer",
    )}>
      <span class={cn(
        "inline-block transition-transform duration-300",
        "group-hover:-translate-x-2 uppercase"
      )}>See our work</span> 
      <span class={cn(
        "inline-block opacity-0 transition-all duration-300",
        "group-hover:translate-x-2 group-hover:opacity-100"
      )}>→</span>
    </Button>
  </div>
</div>
<div class={cn(
  "text-xs tracking-wide text-gray-600 uppercase mt-6",
  "md:mt-12"
)}>
  Custom web development & ultra-fast deployment on private cloud. <br />
  TAILORED TO YOUR VISION
</div> 