---
import { Menu, X } from 'lucide-react'
import { t } from '@/lib/i18n/i18n-server'

interface Props {
	action: 'open' | 'close'
}

const { action } = Astro.props
---

<button
	class="btn-icon md:hidden"
	aria-label={action === 'open'
		? t('common.ui.openMenu')
		: t('common.ui.closeMenu')}
	id={`mobile-menu-${action}-button`}
>
	{
		action === 'open' ? (
			<Menu className="w-5 h-5" />
		) : (
			<X className="w-5 h-5" />
		)
	}
</button>
