---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!')

import Welcome from '@/components/marketing/welcome.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import NextPageLink from '@/components/common/next-page-link.astro'
import GradientCircle from '@/components/common/gradient-circle.astro'
import Header from '@/components/layout/header.astro'
import Footer from '@/components/layout/footer.astro'
import { cn } from '@/lib/utils'
---

<BaseLayout title="Nextnode - Creative Agency">
	<div class="relative min-h-screen flex flex-col">
		<Header />
		<main class={cn(
			"pt-20 pb-14 flex-1 flex flex-col justify-center",
			"sm:px-8 sm:pt-24 sm:pb-16",
			"md:px-20 md:pt-32 md:pb-20 md:max-w-none"
		)}>
			<Welcome />
		</main>

      <GradientCircle />
      <NextPageLink />
      <Footer />
	</div>
</BaseLayout>
