---
import { cn } from '@/lib/core/utils'
import { getRelativeLocaleUrl } from 'astro:i18n'

interface Props {
	variant?: 'desktop' | 'mobile'
}

const { variant = 'desktop' } = Astro.props
const homeUrl = getRelativeLocaleUrl(Astro.currentLocale || 'en', '/')
---

<a href={homeUrl} class="flex items-center">
	<img
		src="/logo-1.png"
		alt="NextNode"
		class={cn(
			'w-auto transition-transform duration-300 hover:scale-105',
			variant === 'mobile' ? 'h-10' : 'h-14',
		)}
	/>
</a>
