---
import { cn } from '@/lib/utils'
import { getRelativeLocaleUrl } from 'astro:i18n'

interface Props {
	variant?: 'desktop' | 'mobile'
}

const { variant = 'desktop' } = Astro.props
const homeUrl = getRelativeLocaleUrl(Astro.currentLocale || 'en', '/')
---

<a href={homeUrl} class="flex items-center">
	<span
		class={cn(
			'text-xl font-medium tracking-wider text-gray-800 hover:text-gray-900 transition-colors duration-300 uppercase',
			'dark:text-gray-200 dark:hover:text-gray-100',
			variant === 'mobile' ? 'text-gray-800 dark:text-gray-200' : '',
		)}
	>
		Nextnode
	</span>
</a>
