---
import { cn } from '@/lib/utils'

interface Props {
	variant?: 'desktop' | 'mobile'
}

const { variant = 'desktop' } = Astro.props
---

<a href="/" class="flex items-center">
  <span class={cn(
    "text-xl font-medium tracking-wider text-gray-800 hover:text-gray-900 transition-colors duration-300 uppercase",
    variant === 'mobile' ? "text-gray-800" : ""
  )}>
    Nextnode
  </span>
</a> 