---
// Simple decorative link component
---

<div class="md:flex hidden absolute right-12 top-1/2 transform -translate-y-1/2 text-xs tracking-wide text-[#6d6d6d] items-center gap-2">
  <span>WHO WE ARE</span>
  <span class="block w-16 h-px bg-[#bdbdbd]"></span>
</div> 