---
// Simple decorative link component
---

<div
	class="absolute top-1/2 right-12 hidden -translate-y-1/2 transform items-center gap-2 text-xs tracking-wide text-[#6d6d6d] md:flex"
>
	<span>WHO WE ARE</span>
	<span class="block h-px w-16 bg-[#bdbdbd]"></span>
</div>
