name: Tests

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

on:
    pull_request:
        branches: [main, master, develop]

jobs:
    quality-checks:
        name: Quality Checks
        if: ${{ !(github.base_ref == 'main' && github.head_ref == 'develop') }}
        uses: NextNodeSolutions/github-actions/.github/workflows/quality-checks.yml@main
        with:
            run-lint: true
            run-typecheck: true
            run-tests: true
            run-build: true
            run-security: true
            test-coverage: true
        secrets: inherit
